---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<div
  class="flex flex-col items-center min-w-[200px]"
  data-aos="flip-left"
  data-aos-duration="1000"
>
  <img src="/hombre.png" class="rounded-full w-[100px] h-[100px]" />
  <h2>
    {title}
  </h2>
  <p class="text-sm text-gray-400">
    {body}
  </p>
</div>
<style></style>
